body, #root {
  width: 100vw;
  height: 100vh;
}

.journal-card-container {
  margin: 8px;
}

.my-page-section {
  padding: 16px;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
